#titulo,
.texto
{
    color:blueviolet; 
    font-size: 25px;  
}
#titulo
{
    font-weight: bold;
}
.texto
{
    font-weight: normal;
}
#listad
{
    color: aqua;
}
#listao
{
    color: brown;
}
ol li
{
    font-style: italic;
}
ul li
{
    font-style:normal;
}