#titulo,
.texto
{
    color:rgb(97, 68, 124); 
    font-size: 25px;  
}
#titulo
{
    font-weight: bold;
    background-color: rgb(230, 97, 97);
}
.texto
{
    font-weight: normal;
}
#listad
{
    color: #0FF;
}
#listao
{
    color: #830c0c;
}
ol li
{
    font-style: italic;
}
ul li
{
    font-style:normal;
}