body
{
    background-image: url(https://th.bing.com/th/id/R.b59d76591f21ff4577ff7cab829e5ae5?rik=yZTOYbBUBBEucQ&riu=http%3a%2f%2fi.imgur.com%2fbBT1y.jpg&ehk=M14bKAbrm6hpNr5dkhQSRszA8vSGz160EFT3fsxRmZ0%3d&risl=&pid=ImgRaw&r=0);
    background-repeat:repeat-x, repeat-y;
    background-position:center;
}
header
{
    text-transform:uppercase;
}
h1
{
    text-indent:2px;
}
nav
{
    word-spacing:2px;
}
ul
{
    text-shadow:2px 2px 2px blue;
}
li
{
    font-size:xx-large;
}
section
{
    border-style:dotted;
}
h2
{
    border-width:thick;
}
article
{
    border-color:green;
}
p
{
    border-radius:100px;
}
figure
{
    transform:rotate(45deg);
}
img
{
    box-shadow:inset 20px 20px 20px yellow;
}
figcaption
{
    opacity:0.5;
}